@page "/companies/create"
@using Microsoft.EntityFrameworkCore
@using RealEstate.Domain
@inject IDbContextFactory<RealEstate.Data.RealEstateContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Company</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Company" OnValidSubmit="AddCompany" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="companyname" class="form-label">CompanyName:</label> 
                <InputText id="companyname" @bind-Value="Company.CompanyName" class="form-control" /> 
                <ValidationMessage For="() => Company.CompanyName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="companyaddress" class="form-label">CompanyAddress:</label> 
                <InputText id="companyaddress" @bind-Value="Company.CompanyAddress" class="form-control" /> 
                <ValidationMessage For="() => Company.CompanyAddress" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="companyphonenumber" class="form-label">CompanyPhoneNumber:</label> 
                <InputText id="companyphonenumber" @bind-Value="Company.CompanyPhoneNumber" class="form-control" /> 
                <ValidationMessage For="() => Company.CompanyPhoneNumber" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/companies">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Company Company { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCompany()
    {
        using var context = DbFactory.CreateDbContext();
        context.Company.Add(Company);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/companies");
    }
}
