@page "/regions/create"
@using Microsoft.EntityFrameworkCore
@using RealEstate.Domain
@inject IDbContextFactory<RealEstate.Data.RealEstateContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Region</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Region" OnValidSubmit="AddRegion" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="regionname" class="form-label">RegionName:</label> 
                <InputText id="regionname" @bind-Value="Region.RegionName" class="form-control" /> 
                <ValidationMessage For="() => Region.RegionName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="regiondescription" class="form-label">RegionDescription:</label> 
                <InputText id="regiondescription" @bind-Value="Region.RegionDescription" class="form-control" /> 
                <ValidationMessage For="() => Region.RegionDescription" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/regions">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Region Region { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddRegion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Region.Add(Region);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/regions");
    }
}
