@page "/regions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using RealEstate.Domain
@using RealEstate.Data
@implements IAsyncDisposable
@inject IDbContextFactory<RealEstate.Data.RealEstateContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="regions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Region">
    <PropertyColumn Property="region => region.RegionName" />
    <PropertyColumn Property="region => region.RegionDescription" />

    <TemplateColumn Context="region">
        <a href="@($"regions/edit?regionid={region.RegionId}")">Edit</a> |
        <a href="@($"regions/details?regionid={region.RegionId}")">Details</a> |
        <a href="@($"regions/delete?regionid={region.RegionId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private RealEstateContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
