@page "/facilities"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using RealEstate.Domain
@using RealEstate.Data
@implements IAsyncDisposable
@inject IDbContextFactory<RealEstate.Data.RealEstateContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="facilities/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Facility">
    <PropertyColumn Property="facility => facility.FacilityName" />
    <PropertyColumn Property="facility => facility.FacilityDescription" />
    <PropertyColumn Property="facility => facility.RegionId" />

    <TemplateColumn Context="facility">
        <a href="@($"facilities/edit?facilityid={facility.FacilityId}")">Edit</a> |
        <a href="@($"facilities/details?facilityid={facility.FacilityId}")">Details</a> |
        <a href="@($"facilities/delete?facilityid={facility.FacilityId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private RealEstateContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
